/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/
h1,
h2,
h3,
h4,
h5 {
    font-family: Dosis;
}

.privacy-link {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #fff;
        text-decoration: underline;
        opacity: 0.8;
    }
}

.dr-last-modified-text {
    font-size: 12px;
}

/* Tabed Highlight */

#body .nav-tabs {
    position: unset;
    width: unset;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-pane {
    padding: 3px 0px;
}

.tab-pane {
    padding: 3px 0px;
}

.tab-content > .active {
    display: block;
}

.nav-tabs {
    color: #0f0f0f;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-tabs > li {
    color: #0f0f0f;
    float: left;
}

.nav-tabs > li > a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    line-height: 1;
}

.code-tabs {
    margin: 10px 0px 0px 00px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    color: #000 !important;
    background: transparent;
}

.nav-tabs > li.active > a {
    background: #8dc63f;
}
