<div id="978">
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" id="version-nav-bar-1" href="/docs-v1/">v1.0</a>
		<a class="dropdown-item" id="version-nav-bar-2" href="/docs/">v2.0</a>
	</div>
</div>

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{ .Site.Params.version_menu }}
</a>

<script>
	if (window.location.href.includes('docs-v1')) {
		document.getElementById('version-nav-bar-1').style.fontWeight = 'bold';
		document.getElementById('version-nav-bar-1').style.textDecoration = 'underline';
		document.getElementById('version-nav-bar-2').style.fontWeight = 'normal';
		document.getElementById('version-nav-bar-2').style.textDecoration = 'unset';
	} else {
		document.getElementById('version-nav-bar-1').style.fontWeight = 'normal';
		document.getElementById('version-nav-bar-1').style.textDecoration = 'unset';
		document.getElementById('version-nav-bar-2').style.fontWeight = 'bold';
		document.getElementById('version-nav-bar-2').style.textDecoration = 'underline';
	}
</script>